.gif__container {
	position: relative;

	.gif {
		margin: 0.5rem;
		width: 8rem;
		height: 6rem;
	}

	.gifActions {
		display: none;
	}

	@media screen and (min-width: $iphone) {
		.gif {
			margin: 1rem;
			width: 10rem;
			height: 8rem;
		}
	}

	@media screen and (min-width: $tablet) {
		.gif {
			width: 14rem;
			height: 11rem;
		}

		.gifActions {
			margin: 1rem;
			display: block;
			opacity: 0;
			width: 14rem;
			height: 11rem;
			position: absolute;
			top: 0;
			background-color: $purpleTransparency;
			transition: 0.2s ease-in-out;

			&:hover {
				opacity: 100;
			}
		}

		.gifActions__btn {
			padding: 4%;
			position: absolute;
			right: 0;
		}

		.gif__info {
			position: absolute;
			left: 8%;
			bottom: 15%;
			font-weight: 500;
			text-align: left;
			color: #fff;
		}
	}

	@media screen and (min-width: $desktop) {
		.gif {
			width: 17rem;
			height: 14rem;
		}
		.gifActions {
			width: 17rem;
			height: 14rem;
		}
	}

	@media screen and (min-width: $genericLaptop) {
		.gif {
			width: 22rem;
			height: 16rem;
		}
		.gifActions {
			width: 22rem;
			height: 16rem;
		}
	}


}
