// Mobile diurno

.hero__container {
	padding: 5%;
	padding-top: 30%;
	text-align: center;

	@media screen and (min-width: 500px) {
		padding-top: 20%;
	}
}

.hero__title {
	padding: 0 8% 5% 8%;
	font-size: 1.6em;
	font-weight: 700;

	.aqua-text {
		color: $aqua;
	}

	@media screen and (min-width: $tablet) {
		font-size: 2em;
		max-width: 85%;
		margin: 0 auto;
	}

	@media screen and (min-width: $desktop) {
		font-size: 2.5em;
	}
}

.ilustra-header {
	max-width: 90%;

	@media screen and (min-width: $tablet) {
		width: 60%;
	}

}

.search__container {
	margin: 0 auto;
	border: 1px solid $purple;
	border-radius: 20px;
	padding: 10px;
	position: relative;
	top: -5px;
	display: flex;
	justify-content: space-between;
	z-index: 2;

	body.darkMode & {
		border: 1px solid #fff;
	}

	.search__input {
		width: 100%;
		border: none;
		padding-left: 12%;
		background-color: none;
		font-family: $primary-font;
		font-size: 16px;
		color: $lightGray;
		outline: none;

		body.darkMode & {
			background-color: transparent;
		}
	}

	.search__icon {
		padding-right: 5px;
	}

	@media screen and (min-width: $tablet) {
		width: 55%;
	}

	@media screen and (min-width: $desktop) {
		width: 75%;
	}
}

.hero__trending {
	font-family: $secondary-font;
	font-weight: 500;
	padding: 7% 0 2% 0;

	.hero__subtitle {
		padding-bottom: 2%;
		font-size: 1em;
	}
	
	.trending_list {
		font-weight: 400;
	}
	
}



