// Fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font:'Montserrat', sans-serif;;

// Color theme

$purple: #572EE5;
$aqua: #50E3C2;
$white: #F3F5F8 ;
$backgroundDark: #37383C;
$backgroundBlack: #222326;

// Media Query

$tablet: 800px;
$desktop: 1024px;