// Fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// Color theme

$purple: #572ee5;
$aqua: #50e3c2;
$white: #f3f5f8;
$lightGray: #9cafc3;
$backgroundDark: #37383c;
$backgroundBlack: #222326;
$purpleTransparency: rgba(87, 46, 229, 0.6);

// Media Query

$iphone: 400px;
$tablet: 768px;
$desktop: 1024px;
$desktop2: 1280px;
$genericLaptop: 1530px;

$transition: 0.3s ease-in-out;
